<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .report {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .filters {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        .filter-item {
            display: flex;
            margin-bottom: 10px;
        }
        .filter-item label {
            flex: 3;
            align-items: center;
        }
        .filter-item select {
            flex: 9;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>
    <div id="report-filter">
        <form id="filter-form" method="get" action="#">
            <div class="filters">
                <div class="filter-item">
                    <label for="status-filter">Filter By Status:</label>
                    <select id="status-filter" name="status" onchange="fetchReports(currentOperationLine)">
                        <option value="">All</option>
                        <option value="0">Pending</option>
                        <option value="1">Approved</option>
                        <option value="2">Email Sent</option>
                        <option value="3">Solved</option>
                        <option value="4">Rejected</option>
                    </select>
                </div>
                <div class="filter-item">
                    <label for="category-filter">Filter By Category:</label>
                    <select id="category-filter" name="profession" onchange="fetchReports(currentOperationLine)">
                        <option value="">All</option>
                        {% for profession in professions %}
                        <option value="{{ profession }}">{{ profession }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
    </div>
    <button id="MC-12" onclick="fetchReports('MC-12')">MC 12</button>
    <button id="MC-17" onclick="fetchReports('MC-17')">MC 17</button>
    <div id="reports-container"></div>

    <script>
        let currentOperationLine = '';

        document.addEventListener('DOMContentLoaded', function() {
            fetchReports('recent');
        });
        
        function fetchReports(operationLine) {
            currentOperationLine = operationLine;
            const status = document.getElementById('status-filter').value;
            const profession = document.getElementById('category-filter').value;

            const url = new URL(`main/reports/${operationLine}/`, window.location.origin);
            const params = { status, profession };
            Object.keys(params).forEach(key => url.searchParams.append(key, params[key]));

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const reportsContainer = document.getElementById('reports-container');
                    reportsContainer.innerHTML = '';
                    data.forEach(report => {
                        const reportElement = document.createElement('div');
                        reportElement.className = 'report';
                        reportElement.innerHTML = `
                            <h3>Report ID: ${report.reportID}</h3>
                            <p>Reporter Name: ${report.reporterName}</p>
                            <p>Problem Category: ${report.problemCategory}</p>
                            <p>Description: ${report.problemDescription}</p>
                            <p>Operation Line No: ${report.operationLineNumber}</p>
                            <p>Status: ${report.status}</p>
                            <p>Datetime: ${report.datetime}</p>
                        `;
                        reportsContainer.appendChild(reportElement);
                    });
                })
                .catch(error => {
                    console.error('Error fetching reports:', error);
                });
        }


        
    </script>
</body>
</html>
